.auth-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  height: calc(100vh - 150px);

  &__container {
    background-color: gray;
    border-radius: 5px;
    width: 40%;
    padding: 1rem;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    &__container {
      width: 90%;
    }
  }
}
