.auth-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
  height: calc(100vh - 150px);

  &__container {
    background-color: red;
    width: 40%;
    padding: 1rem;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    &__container {
      width: 90%;
    }
  }
}
