.text-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;

  input {
    outline: none;
  }

  &__label {
    &__asterix {
      color: red;
    }
  }

  &__error-list {
    .error-list-item {
      color: red;
    }
  }

  &--small {
    .text-input__label {
      font-size: 1rem;

      &__asterix {
      }
    }

    input {
      font-size: 0.5rem;
      padding: 0.25rem 0.5rem;
    }

    .text-input__error-list {
      font-size: 0.64rem;
    }
  }

  &--medium {
    .text-input__label {
      font-size: 1rem;
    }

    input {
      font-size: 0.875rem;
      padding: 0.5rem 0.75rem;
    }

    .text-input__error-list {
      font-size: 0.75rem;
    }
  }
}
