.text-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;

  input {
    outline: none;
  }

  &__label {
    &__asterix {
      color: tomato;
    }
  }

  &--small {
    &__label {
      font-size: 1rem;

      &__asterix {
      }
    }

    input {
      font-size: 0.5rem;
      padding: 0.25rem 0.5rem;
    }
  }

  &--medium {
    &__label {
      font-size: 1rem;
    }

    input {
      font-size: 0.875rem;
      padding: 0.5rem 0.75rem;
    }
  }
}
