<div [class]="`text-input text-input--${size()}`">
  @if (label()) {
    <label class="text-input__label">
      @if (required()) {
        <span class="text-input__label__asterix">*</span>
      }
      {{ label() }}
    </label>
  }
  <input
    [placeholder]="placeholder()"
    [type]="type()"
    [formField]="field()"
  />
  @if (fieldState().touched() && fieldState().invalid()) {
    <div class="text-input__error-list">
      @for (error of fieldState().errors(); track error) {
        <div class="error-list-item">{{ error.message }}</div>
      }
    </div>
  }
</div>

