.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem;
  z-index: 1933;

  &__content {
    &--small {
      width: 40%;
    }
    &--medium {
      width: 50%;
    }
    &--large {
      width: 60%;
    }
  }
}
